
.carousel {
    position: relative;
}

.carousel .carousel-item {
    display: none;
}

.carousel .carousel-item-visible {
    display: block;
}

.carousel .carousel-item img {
    width: 100%;
    height: auto;
}
.carousel .carousel-actions {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-between;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
  
}


.carousel .carousel-actions button {
    font-size: 15px;
    font-weight: bold;
    cursor: pointer;
    width: 40px;
    background-color:inherit;
    color:white;
    border: none;

}

.carousel .carousel-actions button:hover{
    background: rgba(10, 10, 10, 0.3);
}

.carouselPageList{
    display: flex;
    position: absolute;
   top: 75%;
   margin-left: 45%;

}

.carouselPage{
    font-size: 2em;
    padding: 1rem ;
    opacity: 0.5;
    
}
.active{
    font-size: 2em;
    padding: 1rem ;
    opacity: 1;
}


/*
react-slick

.slick-dots {

    position: absolute;
    top: 75%;

}

.custom-slick-dots{
    font-size: 4.5rem;
    color: white;
    opacity: 0.5;
}
.slick-active .custom-slick-dots{
    font-size: 4.5rem;
    color: white;
    opacity: 1;
}


.slick-next{
    margin-right: 20px;
    }
    .slick-prev{
        margin-left: 20px;
        z-index: 2;
    }
  
*/